<!doctype html>
<html lang="en">

  <head>
    {{template "_head.html"}}

    <title>{{.Title}}</title>
    <meta name="description" content="{{.Description}}">
  </head>

  <body>

    {{template "_navigation.html"}}

    <main class="wrapper">

      {{if .Tags}}
      <nav>
        <strong>Tags:</strong>
        {{range .Tags}}
        <a href="/tags/{{.}}.html" rel="tag">{{.}}</a>
        {{end}}
      </nav>
      {{end}}

      <article itemtype="http://schema.org/Article">
        <header>
          <h1 itemtype="headline">{{.Title}}</h1>
        </header>
        <div>
          {{.Content}}
        </div>
      </article>
    </main>

    {{template "_footer.html"}}

    {{template "_includes.html"}}

  </body>

</html>
