[Unit]
Description=altenator

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/opt/website/altenator --http

[Install]
WantedBy=multi-user.target
